#contact {
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('../images/desk2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    
    padding-bottom: 80px;
}

#contact .title {
    padding-top: 80px;
    padding-bottom: 50px;
    
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;

    text-shadow: 3px 1px 3px rgba(45, 45, 45, 0.14);

    text-align: center;
}

#contact .title span {
    color: #00B0DC;
}

@media (max-width: 991px) {
    .form-group {
        margin-bottom: 50px;
    }
}

.form-group label {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.form-group input {
    border-radius: 0px;

    color: white;

    background-color: transparent;
}

.form-group .message-input {
    height: 215px;

    color: white;

    background-color: transparent;

    border-radius: 0px;
}

.form-group .message-input:focus {
    background-color: white;

    color: #495057;;
}

.form-group .send-btn {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: #00B0DC;
    padding: 15px 20px;

    cursor: pointer;

    border: none;
}

#contact .contact-info {
    margin-left: 50px;
}

@media (max-width: 991px) {
    #contact .contact-info {
        margin-left: 0px;
    }
}

.contact-item i {
    color: #00B0DC;
    font-size: 25px;
    padding-bottom: 10px;
}

.contact-item h5 {
    padding-top: 2px;
    padding-bottom: 5px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.contact-item p {
    line-height: 21px;
    letter-spacing: 2px;
    font-size: 0.9em;
    color: rgb(168, 168, 168);
    font-family: 'Poppins', sans-serif;
}