.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 2000;
}

.navbar-collapse .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
    padding: 20px !important;
    font-family: 'Poppins', sans-serif;
}

.navbar-scrolling .navbar-collapse .navbar-nav .nav-link {
    color: #262626;
}

.navbar-scrolling {
    background-color: #fafafa;

    box-shadow: 0 0 10px 0 #000;

    transition: 0.7s;
}

@media (max-width: 575px) {
    .navbar-collapse {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        margin-top: 5px;
        width: 100% !important;
    }

    .navbar-scrolling .navbar-collapse .navbar-nav .nav-link {
        color: white;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url(../images/menu.svg);
        filter: invert(100%);
    }

    .navbar-scrolling .navbar-toggler-icon {
        background-image: url(../images/menu.svg);
        filter: invert(0%);
    }
}

@media (max-width: 991px) {
    .navbar-collapse .navbar-nav .nav-link {
        padding: 10px !important;
    }
}

.navbar-collapse .navbar-nav .nav-item a:hover {
    color: #00B0DC;
}

.navbar-collapse .navbar-nav .nav-item a:focus {
    color: #00B0DC;
    font-weight: 900;
}

.banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/office.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100%;

    position: relative;
    top: 0;
    left: 0;

    display: table;
}


.banner .banner-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.banner-content .img-area {
    width: 160px;
    height: 160px;

    margin: auto;

    border-radius: 50%;
    overflow: hidden;

    border-color: white;
    border-style: solid;
    border-width: 4px;
}

.banner-content .img-area .image {
    max-width: 100%;
}

.banner-content h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

    padding-top: 30px;
}

.banner-content .position {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.banner-content .social ul {
    list-style-type: none;

    display: flex;

    justify-content: center;

    padding: 0px;
}

.banner-content .social ul li {
    margin: 20px 10px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.08);
}

.banner-content .social ul li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;

    color: white;
}

.banner .move-down-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.banner .move-down-button a{
    margin-top: 20px;
    padding: 0px;
    position: relative;

    display: inline-block;
    width: 35px;
    height: 60px;

    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 23px;
}

.banner .move-down-button .move-down-point{
    color: white;
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -8px 0 0 -4px;
    background: #ffffff;
    border-radius: 50%;
    animation: move 3s infinite;
}

@keyframes move
{
  0%   {transform: translateY(0px); opacity: 1;}
  15%  {transform: translateY(30px); opacity: 0.65;}
  25%  {transform: translateY(30px); opacity: 0;}
  100% {transform: translateY(30px); opacity: 0;}
}
