#hobby {
    background-color: white;

    padding-bottom: 80px;
}

#hobby .title {
    padding-top: 80px;
    padding-bottom: 50px;
    
    color: #262626;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;

    text-shadow: 3px 1px 3px rgba(45, 45, 45, 0.14);

    text-align: center;
}

#hobby .title span {
    color: #00B0DC;
}

#hobby .hobby-item {
    position: relative;

    color: white;
    text-align: center;

    overflow: hidden;
}

#hobby .hobby-item img {
    width: 100%;
    height: auto;
}


#hobby .hobby-item h4 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 18px;
}

#hobby .hobby-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    opacity: 0;
    transition: 1s ease;

    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

#hobby .hobby-item .overlay-upper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    right: 0;
    height: 100%;
    width: 100%;

    opacity: 0;

    transition: 1s ease;
    background-color: black;
}

#hobby .hobby-item .overlay .overlay-inner{
    position: absolute;
    top: 45%;

    width: 100%;
}

#hobby .hobby-item:hover .overlay{
    opacity: 1;
}

#hobby .hobby-item:hover .overlay h4{
    animation: move-down 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

#hobby .hobby-item:not( :hover ) .overlay h4{
    animation: move-up-back 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

#hobby .hobby-item:hover .overlay-upper {
    animation: dash-to-right 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

#hobby .hobby-item:not( :hover ) .overlay-upper {
    animation: dash-to-left 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

@keyframes move-down
{
  from   {transform: translateY(-30px); opacity: 0;}
  to  {transform: translateY(0px); opacity: 1;}
}

@keyframes move-up-back
{
  from   {transform: translateY(0px); opacity: 0.8;}
  to  {transform: translateY(-30px); opacity: 0;}
}

@keyframes dash-to-right
{
  from   {transform: translateX(0px) skew(45deg); opacity: 0;}
  to  {transform: translateX(810px) skew(45deg); opacity: 0.65;}
}

@keyframes dash-to-left
{
  from   {transform: translateX(810px) skew(45deg); opacity: 0.65;}
  to  {transform: translateX(0px) skew(45deg); opacity: 0;}
}

@media (max-width: 1199px) {
    @keyframes dash-to-right
    {
        from   {transform: translateX(0px) skew(45deg); opacity: 0;}
        to  {transform: translateX(700px) skew(45deg); opacity: 0.65;}
    }

    @keyframes dash-to-left
    {
        from   {transform: translateX(700px) skew(45deg); opacity: 0.65;}
        to  {transform: translateX(0px) skew(45deg); opacity: 0;}
    }
}

@media (max-width: 991px) {
    @keyframes dash-to-right
    {
        from   {transform: translateX(0px) skew(45deg); opacity: 0;}
        to  {transform: translateX(750px) skew(45deg); opacity: 0.65;}
    }

    @keyframes dash-to-left
    {
        from   {transform: translateX(750px) skew(45deg); opacity: 0.65;}
        to  {transform: translateX(0px) skew(45deg); opacity: 0;}
    }
}

@media (max-width: 767px) {
    @keyframes dash-to-right
    {
        from   {transform: translateX(0px) skew(45deg); opacity: 0;}
        to  {transform: translateX(950px) skew(45deg); opacity: 0.65;}
    }

    @keyframes dash-to-left
    {
        from   {transform: translateX(950px) skew(45deg); opacity: 0.65;}
        to  {transform: translateX(0px) skew(45deg); opacity: 0;}
    }
}