#skills .programming-skills {
    background-color: #fafafa;

    padding-bottom: 80px;
} 

#skills .programming-skills .title {
    padding-top: 80px;
    padding-bottom: 50px;
    
    color: #262626;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;

    text-shadow: 3px 1px 3px rgba(45, 45, 45, 0.14);

    text-align: center;
}

#skills .programming-skills .tech-list {
    text-align: center;

    background-color: #fff;
}

#skills .programming-skills .tech-list .tech-icon {
    width: 155px;
    height: 155px;

    padding: 30px;
    transition: transform .2s;
}

.tech-icon:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
  }

#skills .programming-skills .tech-list .bootstrap-icon {
    padding: 40px;
}

#skills .title span {
    color: #00B0DC;
}