#skills {
    margin-top: 50px;
}

#skills .programming-skills {
    background-color: #f8f8f8;
} 

#skills .programming-skills .title {
    padding-top: 80px;
    padding-bottom: 50px;
    
    color: #262626;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;

    text-align: center;
}

#skills .programming-skills .tech-list {
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    #skills .programming-skills .tech-list {
        text-align: center;
    }
}

#skills .programming-skills .tech-list .tech-icon {
    width: 155px;
    height: 155px;

    padding: 30px;
}

#skills .programming-skills .tech-list .bootstrap-icon {
    padding: 40px;
}

#skills .title span {
    color: #00B0DC;
}